.section-button{
  border: 1px solid ;
  color: white;
  width: 140px;
  border-radius: 15px;
  font-size: 10px;
  line-height: 18px;
  padding: 10px 20px;
  position: relative;
}
.section-button>span{
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 5px;
  position: absolute;
  right: -6px;
  top: 11px;
}