.onlinemart-section{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.line-img{
  width: 100%!important;
}

@media(max-width:675px){
  .onlinemart-section{
    display: flex;
    /* padding-right: 50px; */
    justify-content: space-between;
    flex-direction: column;
  }

  .onlinemart-image{
    margin: auto;
    height: 300px;
    width: 300px;
  }
  .onlinemart-content{
    width: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
  }
  .onlinemart-info{
    margin: auto;
  }
  .onlinemart-heading{
    text-align: center;
    line-height: 110%;
    font-weight: 700;
    color: white;
    font-size: 20px;
  }
  .onlinemart-heading>span{
    color :#9796f0;
  }
  .onlinemart-description{
    color: white;
    width: 380px;
    height: 100px;
    font-size: 15px;
    line-height: 150%;
    text-align: center;
    margin: auto;
  }
  .onlinemart-icon{
    background: linear-gradient(90deg,#9796f0,#fbc7d4);;
    box-shadow: 0px 0px 30px #B6DEFA, inset 0px 0px 4px #FFFFFF;
    border-radius: 50%;
    /* margin: 0.2rem;
    padding: 0.2rem; */
    color: white;
    visibility: hidden;
    width: 0;
  }
}
@media(min-width:676px){
  .onlinemart-image{
    margin-bottom: 60px;
    height: 300px;
    width: 315px;
  }
  .onlinemart-content{
    width: 350px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .onlinemart-heading{
    text-align: left;
    line-height: 115%;
    color: white;
    font-size: 25px;
  }
  .onlinemart-description{
    color: white;
    width: 400px;
    height: 150px;
    font-size: 18px;
    line-height: 150%;
    text-align: left;
    margin-left: auto;
  }
  .onlinemart-icon{
    background: linear-gradient(90deg,#9796f0,#fbc7d4);;
    box-shadow: 0px 0px 30px #B6DEFA, inset 0px 0px 4px #FFFFFF;
    border-radius: 50%;
    margin: 0.5rem;
    padding: 0.5rem;
    color: white;
  }
}

@media(min-width:1024px){
  .onlinemart-image{
    margin-bottom: 60px;
    height: 500px;
    width: 550px;
  }
  
  .onlinemart-content{
    width: 478px;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .onlinemart-heading{
    text-align: left;
    line-height: 120%;
    color: white;
    font-size: 30px;
  }
  .onlinemart-heading>span{
    color :#9796f0;
  }
  .onlinemart-description{
    color: white;
    width: 450px;
    height: 225px;
    font-size: 25px;
    line-height: 150%;
    text-align: left;
    margin-left: auto;
  }
  .line-img{
    width: 100%!important;
  }
  .onlinemart-icon{
    background: linear-gradient(90deg,#9796f0,#fbc7d4);;
    box-shadow: 0px 0px 30px #B6DEFA, inset 0px 0px 4px #FFFFFF;
    border-radius: 50%;
    margin: 1rem;
    padding: 1rem;
    color: white;
  }
}